/*
    Thubakgale MS - 201701870
    27-10-2021
 */ 
/*style items */
.ly_slA .custom-select {
    position: relative;
    font-family: Arial;
}

    .ly_slA .custom-select select {
        display: none;
    }

.ly_slA .select-selected {
    background-color: DodgerBlue;
}

    .ly_slA .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
    }

    .ly_slA .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 7px;
    }

.ly_slA .hide-arrow {
    position: absolute;
    margin-top: 0px;
    left: 210px;
    width: 20px;
    min-height: 50px;
    color: white;
    padding-top: 13px;
}

.ly_slA .select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.ly_slA .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.ly_slA .select-hide {
    display: none;
}

.ly_slA .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
